@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

#header .logo-inner .logo_custom {
	height: auto;
}

.footer-logo {
	width: 100% !important;
    height: auto !important;
}
